@using ConstructionDiary.Models
@using ConstructionDiary.ResourceFiles;
@model List<ChallanBillVM>
@{
    ViewBag.Title = "Material";

    int counter = 1;
}

<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">

            <section class="panel">
                <header class="panel-heading">
                    <strong>Challan Bill List</strong>
                </header>
            </section>

            <section class="panel">

                <div class="panel-body">

                    <div class="adv-table">
                        <div class="clearfix">

                            <div class="btn-group pull-left">
                                <a class="btn btn-success" href="/admin/challan/addbill"><i class="fa fa-plus"></i> Add Challan Bill</a>
                            </div>

                            @if (clsSession.RoleID != (int)UserRoles.Staff && Model != null && Model.Count > 0)
                            {
                                <div class="btn-group pull-right">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        @Resource.Download <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a id="btnDownloadPdf" href="javascript:void(0);">PDF</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped table-hover" id="tblChallanBillList">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="10%">@Resource.ChallanDate</th>
                                    <th width="10%">@Resource.ChallanNo</th>
                                    <th width="13%">@Resource.MerchantName</th>
                                    <th width="13%">@Resource.Amount</th>
                                    <th width="10%">@Resource.File</th>
                                    <th width="10%">@Resource.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var obj in Model)
                                    {
                                        DateTime today = DateTime.Today;
                                        <tr class="gradeX">
                                            <td>@counter.</td>
                                            <td>@Convert.ToDateTime(obj.dtChallanBillDate).ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @if (obj.ChallanId != null)
                                                {
                                                    <span>@obj.ChallanNo</span>
                                                }
                                                else if (obj.ChallanGroupId != null)
                                                {
                                                    <span>
                                                        @CoreHelper.GetChallanNumbersFromChallanGroupId(obj.ChallanGroupId.Value)
                                                    </span>
                                                }
                                            </td>
                                            <td>@obj.MerchantName</td>
                                            <td>@obj.BillAmount</td>
                                            <td>
                                                @if (obj.ObjFile != null)
                                                {
                                                    string fileUrl1 = Server.MapPath("~/DataFiles/ChallanBillFile/" + obj.ObjFile.EncryptFileName);

                                                    string fileUrl = Request.Url.OriginalString.Replace(Request.Url.PathAndQuery, "") + Request.ApplicationPath;
                                                    fileUrl += "/DataFiles/ChallanBillFile/" + obj.ObjFile.EncryptFileName;

                                                    if (File.Exists(fileUrl1))
                                                    {
                                                        @*<button onclick="fnOpenFile('@fileUrl')" class="btn btn-info btn-xs">@Resource.File</button>*@
                                                        <a download href="@fileUrl" class="btn btn-primary btn-xs">Download</a>

                                                    }
                                                }
                                            </td>
                                            <td>
                                                <a href="/admin/challan/billview/@obj.ChallanBillId" class="btn btn-warning btn-xs"><i class="fa fa-eye"></i></a>
                                                <a href="/admin/challan/bill" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                                <button title="Delete" onclick="fnDeleteChallanBill('@obj.ChallanBillId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteChallanBillModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                @Resource.SureWantToDelete
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteChallanBill" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnDeleteChallanBill" class="btn btn-danger" type="button">@Resource.Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

<script src="~/Areas/Admin/Content/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblChallanBillList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,1]
                }]
        });
    });

    jQuery(document).on("click", "#btnAddBill", function () {
        window.location.href = '/admin/site/addbill/@ViewBag.SiteId';
    });

    function fnDeleteChallanBill(challan_bill_id) {
        jQuery("#hdnDeleteChallanBill").val(challan_bill_id);
        $('#deleteChallanBillModal').modal('show');
    }

    jQuery(document).on("click", "#btnDeleteChallanBill", function () {

        var challan_bill_id = jQuery("#hdnDeleteChallanBill").val();
        if (challan_bill_id != "" && challan_bill_id != null) {
            $('#deleteChallanBillModal').modal('hide');
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteChallanBill", "Challan")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?ChallanBillId=" + challan_bill_id,
                success: function (result) {
                    if (result == "success") {
                        alert("Challan Bill Deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Challan Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    $.unblockUI();
                }
            });
        }
    });

    function isNullOrUndefinedCustom(str) {
        if (str == "" || str == undefined || str == null)
            return true;
        else
            return false;
    }

    jQuery(document).on("click", "#btnDownloadPdf", function () {

        StartLoading();
        setTimeout(function(){ StopLoading() }, 3000);

        var start = '@ViewBag.reportStartDate';
        var end  = '@ViewBag.reportEndDate';
        var site = '@ViewBag.Site';
        window.location.href = "/admin/challan/ExportPDFOfChallanBill?start=" + start + "&end=" + end + "&site=" + site;
    });

</script>