@using ConstructionDiary.ResourceFiles;
@model AttendanceFormVM
@{
    ViewBag.Title = "Attendance";
}

@{
    int counter = 0;
}

<section class="wrapper site-min-height">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong> Edit Attendance </strong>
                </header>
                <div class="panel-body" style="font-size: 16px;">

                    @using (Html.BeginForm("Edit", "Attendance", FormMethod.Post, new { @id = "attendanceFormId", @class = "cmxform form-horizontal tasi-form", enctype = "multipart/form-data", role = "form" }))
                    {

                        <div class="form-horizontal">

                            <div class="row" style="margin-left: 5px;">
                                <div class="col-sm-4 form-group">
                                    <label>Date:</label>
                                    @Html.TextBoxFor(model => model.AttendanceDate, new { @class = "form-control default-date-picker", placeholder = "DD/MM/YYYY", @readonly = "readonly" })

                                    <span class="input-group-btn add-on">
                                        <button class="btn clscalender" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    @Html.ValidationMessageFor(model => model.AttendanceDate, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="">

                                <table class="display table table-bordered table-striped table-hover" id="tblAttendanceForm" style="margin-top: 15px; overflow-y: scroll; display: inline-block;">
                                    <thead>
                                        <tr>
                                            <th style="width:3%;">#</th>
                                            <th>@Resource.Name</th>
                                            @*<th style="width:10%;">Daily Rate</th>*@
                                            <th style="width:13%;">@Resource.Status</th>
                                            <th style="width:13%;">@Resource.Rokadiya</th>
                                            <th style="width:15%;">@Resource.SiteName</th>
                                            <th style="width:7%;">@Resource.Withdraw</th>
                                            <th style="width:7%;">@Resource.Overtime</th>
                                            <th style="width:15%;">@Resource.Remarks</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (Model.lstPersonAttendance != null && Model.lstPersonAttendance.Count() > 0)
                                        {
                                            foreach (var obj in Model.lstPersonAttendance)
                                            {
                                                counter++;
                                        <tr class="gradeX">
                                            <td>@counter</td>
                                            <td>@obj.PersonName</td>
                                            @*<td><span>@obj.PersonDailyRate</span></td>*@
                                            <td>
                                                @Html.DropDownListFor(model => model.lstPersonAttendance[counter - 1].AttendanceStatus, new SelectList(Model.AttendanceStatusList, "Value", "Text", obj.AttendanceStatus.ToString()), "-Select Status-", new { @id = "attendancestatus_" + obj.PersonAttendanceId, @class = "form-control ddlAttendanceStatus" })
                                                @Html.ValidationMessageFor(m => m.lstPersonAttendance[counter - 1].AttendanceStatus, "", new { @class = "text-danger" })
                                            </td>

                                            <td>
                                                @if (obj.PersonTypeId == 6)
                                                {
                                                    @Html.EditorFor(model => model.lstPersonAttendance[counter - 1].TotalRokadiya, new { htmlAttributes = new { @id = "rokadiya_" + obj.PersonAttendanceId, @class = "form-control", maxlength = "100" } })
                                                }
                                            </td>

                                            <td>
                                                @{ string strStyle = obj.AttendanceStatus == 0 ? "none" : "blobk"; }
                                                @Html.DropDownListFor(model => model.lstPersonAttendance[counter - 1].SiteId, new SelectList(Model.SitesList, "Value", "Text", obj.SiteId), "-Select Site-", new { @id = "site_" + obj.PersonAttendanceId, @class = "form-control", @style = "display: " + strStyle + " " })
                                                @Html.ValidationMessageFor(m => m.lstPersonAttendance[counter - 1].SiteId, "", new { @class = "text-danger" })
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.lstPersonAttendance[counter - 1].WithdrawAmount, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.lstPersonAttendance[counter - 1].OvertimeAmount, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.lstPersonAttendance[counter - 1].Remarks, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
                                            </td>
                                            @Html.HiddenFor(model => model.lstPersonAttendance[counter - 1].PersonAttendanceId)
                                            @Html.HiddenFor(model => model.lstPersonAttendance[counter - 1].PersonId)
                                            @Html.HiddenFor(model => model.lstPersonAttendance[counter - 1].PersonDailyRate)
                                            @Html.HiddenFor(model => model.lstPersonAttendance[counter - 1].PersonTypeId)
                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>

                            <div style="margin-top: 15px;">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.HiddenFor(x => x.AttendaceId)
                                        <input id="cmdSubmit" type="submit" value="@Resource.Save" class="btn btn-success" />
                                        <button class="btn btn-default" id="btnCancel" type="button">@Resource.Cancel</button>
                                    </div>
                                </div>
                            </div>

                            @Html.AntiForgeryToken()

                        </div>

                    }
                </div>
            </section>
        </div>
    </div>
</section>

<script src="~/Areas/Admin/Content/js/jquery.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>



    jQuery(document).ready(function () {
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);
    });
    jQuery(document).on("click", "#btnCancel", function () {
        window.location.href = '/admin/attendance';
    });

    jQuery(document).on("change", ".ddlAttendanceStatus", function () {
        var id = $(this).attr("id");
        var value = $(this).val();
        var per_att_id = id.split("_")[1];
        if (value == "0.0") {
            $("#site_" + per_att_id).hide();
            $("#rokadiya_" + per_att_id).hide();
        }
        else {
            $("#site_" + per_att_id).show();
            $("#rokadiya_" + per_att_id).show();
        }
    });

</script>