@using ConstructionDiary.Models
@model List<AttendanceVM>
@{
    ViewBag.Title = "Attendance";
}

<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Attendance List</strong>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div class="clearfix">
                            <div class="btn-group pull-right">
                                @*<button id="btnAddAttendance" class="btn green">
                                        <i class="fa fa-plus"></i> Add New Attendance
                                    </button>*@
                                <a class="btn btn-success" href="attendance/add"><i class="fa fa-plus"></i> Add New Attendance</a>
                            </div>

                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped table-hover" id="tblAttendanceList">
                            <thead>
                                <tr>
                                    <th>Attendance Date</th>
                                    <th>Paid Amount</th>
                                    <th>Total</th>
                                    <th>Full Day</th>
                                    <th>Half Day</th>
                                    <th>Absent</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (AttendanceVM attendance in Model)
                                    {
                                <tr class="gradeX">
                                    <td>@Convert.ToDateTime(attendance.AttendanceDate).ToString("dd/MM/yyyy")</td>
                                    <td>
                                        @{ string amt = "0"; }
                                        @if (attendance.TotalPaidAmount != null)
                                        {
                                            amt = CoreHelper.GetFormatterAmount(attendance.TotalPaidAmount);
                                        }
                                        @amt
                                    </td>
                                    <td>@attendance.TotalPerson</td>
                                    <td>@attendance.TotalFullDay</td>
                                    <td>@attendance.TotalHalfDay</td>
                                    <td>@attendance.TotalAbsent</td>
                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <a href="/admin/attendance/edit/@attendance.AttendaceId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>

                                        <button onclick="fnDeleteAttendance('@attendance.AttendaceId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteAttendanceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteAttendance" />
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button id="btnDeleteAttendance" class="btn btn-danger" type="button"> Delete </button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

<script src="~/Areas/Admin/Content/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblAttendanceList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': []
                }]
        });
    });

    jQuery(document).on("click", "#btnDeleteAttendance", function () {

        var attendance_id = jQuery("#hdnDeleteAttendance").val();
        if (attendance_id != "" && attendance_id != null) {
            $('#deleteAttendanceModal').modal('hide');
            $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteAttendance", "Attendance")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?AttendanceId=" + attendance_id,
                success: function (result) {
                    if (result == "success") {
                        alert("Attendance deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Attendance Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    function fnDeleteAttendance(attendance_id) {
        jQuery("#hdnDeleteAttendance").val(attendance_id);
        $('#deleteAttendanceModal').modal('show');
    }

    jQuery(window).on("load", function () {
        jQuery.unblockUI();
    });


</script>
