@using ConstructionDiary.ResourceFiles;
@model List<AttendancePersonVM>
@{
    ViewBag.Title = "Attendance";

    int counter = 1;
}

<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">

            <section class="panel">
                <header class="panel-heading">
                    <strong>@Resource.PersonList</strong>
                </header>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-sm-2 form-group">
                            <label for="Action">@Resource.Action</label>
                            <select class="form-control" id="dllAction" name="dllAction">
                                <option value="" @(ViewBag.ftrAction == "" ? "selected" : "")>-All-</option>
                                <option value="active" @(ViewBag.ftrAction == "active" ? "selected" : "")>Active</option>
                                <option value="inactive" @(ViewBag.ftrAction == "inactive" ? "selected" : "")>InActive</option>
                            </select>
                        </div>

                        <div class="col-sm-2 form-group">
                            <label></label>
                            <button id="btnSearchReport" type="button" class="btn btn-success" style="margin-top:25px; float:left;"><i class="fa fa-search"></i> @Resource.Search</button>
                        </div>

                    </div>

                </div>

            </section>

            <section class="panel">
                <div class="panel-body">
                    <div class="adv-table">
                        <div class="clearfix">
                            <div class="btn-group pull-right">
                                <button id="btnAddPerson" class="btn green">
                                    <i class="fa fa-plus"></i> @Resource.AddNewPerson
                                </button>
                                <a style="margin-left: 10px;" href="/admin/attendance/reorderperson" class="btn btn-warning"><i class="fa fa-arrows-alt"></i> Re-Order Person</a>
                            </div>
                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped table-hover" id="tblPersonsList">
                            <thead>
                                <tr>
                                    <th width="5%">#</th> 
                                    <th>@Resource.Name</th> 
                                    <th width="15%">@Resource.Attendance</th>
                                    <th width="15%">@Resource.Pagar</th>
                                    <th width="10%">@Resource.Active</th>
                                    <th width="15%">@Resource.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var obj in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@counter.</td>
                                            <td>@obj.PersonFirstName</td>
                                            <td><button onclick="fnPersonAttandance('@obj.PersonId')" type="button" class="btn btn-primary">@Resource.Attendance</button></td>
                                            <td>
                                                @if (obj.IsGroupPerson)
                                                {
                                                    <a href="/admin/attendance/viewgrouppagar/@obj.PersonGroupId" class="btn btn-primary">@Resource.Pagar</a>
                                                }
                                                else
                                                {
                                                    <a href="/admin/attendance/viewpersonpagar/@obj.PersonId" class="btn btn-primary">@Resource.Pagar</a>
                                                }
                                            </td>
                                            <td>
                                                @if (obj.IsActive == true)
                                                {
                                                    <a onclick="fnInActivePerson('@obj.PersonId', false)" href="javascript:void(0);"><span class="badge bg-success">Active</span></a>
                                                }
                                                else
                                                {
                                                    <a onclick="fnInActivePerson('@obj.PersonId', true)" href="javascript:void(0);"><span class="badge bg-warning">InActive</span></a>
                                                }
                                            </td>
                                            <td>
                                                <button title="View" data-id="@obj.PersonId" class="btn btn-success btn-xs clsViewPerson"><i class="fa fa-eye"></i></button>
                                                <button title="Edit" data-id="@obj.PersonId" class="btn btn-primary btn-xs clsEditPerson"><i class="fa fa-pencil"></i></button>
                                                <button title="Delete" onclick="fnDeletePerson('@obj.PersonId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deletePersonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                @Resource.SureWantToDelete
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeletePerson" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnDeletePerson" class="btn btn-danger" type="button">@Resource.Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->
<!-- InActive Modal -->
<div class="modal fade" id="inActivePersonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to InActive ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnInActivePerson" />
                <input type="hidden" id="hdnInActivePersonStatus" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnInActivePerson" class="btn btn-danger" type="button">InActive</button>
            </div>
        </div>
    </div>
</div>
<!-- Active modal -->

<script src="~/Areas/Admin/Content/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">

    jQuery(document).ready(function () {
        jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblPersonsList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,2,3,4]
                }]
        });
    });

    jQuery(document).on("click", "#btnAddPerson", function () {
        window.location.href = '/admin/attendance/addperson';
    });

    function fnPersonAttandance(person_id) {
        window.location.href = '/admin/person/attandance?id=' + person_id;
    }

    function fnDeletePerson(person_id) {
        jQuery("#hdnDeletePerson").val(person_id);
        $('#deletePersonModal').modal('show');
    }

    function fnInActivePerson(person_id, status) {

        var msgText = "";
        var buttonText = "";
        var buttonClass = "";

        if (status == false) {
            msgText = "Are you want to InActive ?";
            buttonText = "InActive";
            buttonClass = "btn btn-danger";
        }
        else {
            msgText = "Are you want to Active ?";
            buttonText = "Active";
            buttonClass = "btn btn-success";
        }

        jQuery("#inActivePersonModal .modal-body").text(msgText);
        jQuery("#inActivePersonModal #btnInActivePerson").text(buttonText);
        jQuery("#inActivePersonModal #btnInActivePerson").attr("class", buttonClass);

        jQuery("#hdnInActivePerson").val(person_id);
        jQuery("#hdnInActivePersonStatus").val(status);
        $('#inActivePersonModal').modal('show');
    }

    jQuery(document).on("click", "#btnInActivePerson", function () {

        var person_id = jQuery("#hdnInActivePerson").val();
        var person_status = jQuery("#hdnInActivePersonStatus").val();

        if (person_id != "" && person_id != null) {
            $('#inActivePersonModal').modal('hide');
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("ChangePersonStatus", "Attendance")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?PersonId=" + person_id + "&Status=" + person_status,
                success: function (result) {
                    if (result == "success") {
                        alert("Person Status Changed successfully");
                        window.location.reload();
                        // $(this).attr("onclick", "fnInActivePerson('"+ person_id +"', "+ !person_status +")");
                    }
                    else if (result == "notfound") {
                        alert("Person Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }

    });

    jQuery(document).on("click", "#btnDeletePerson", function () {

        var person_id = jQuery("#hdnDeletePerson").val();
        if (person_id != "" && person_id != null) {
            $('#deletePersonModal').modal('hide');
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeletePerson", "Person")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?PersonId=" + person_id,
                success: function (result) {
                    if (result == "success") {
                        alert("Person Deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Person Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    jQuery(document).on("click", ".clsEditPerson", function () {
        var person_id = $(this).attr("data-id");
        window.location.href = "/admin/attendance/editperson?id=" + person_id;
    });
    jQuery(document).on("click", ".clsViewPerson", function () {
        var person_id = $(this).attr("data-id");
        window.location.href = "/admin/person/view/" + person_id;
    });

    jQuery(window).on("load", function () {
        jQuery.unblockUI();
    });

    $(document).on("click", "#btnSearchReport", function () {

        var action_value = $("#dllAction").val();

        jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        var url = "/admin/attendance/personlist?ftraction=" + action_value;
        window.location.href = url;

    });

</script>