@using ConstructionDiary.Models
@using ConstructionDiary.ResourceFiles;
@model List<VehicleRentVM>
@{
    ViewBag.Title = "VehicleRent";
    int counter = 1;

    List<SelectListItem> lstVehicleOwners = ViewData["VehicleOwnerList"] as List<SelectListItem>;

    decimal? TotalVehicleRentAmount = Model.Select(x => x.Amount).Sum();
    string strTotalVehicleRentAmount = CoreHelper.GetFormatterAmount(Convert.ToDecimal(TotalVehicleRentAmount));
}

<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">


            <section class="panel">
                <header class="panel-heading">
                    <strong>@Resource.VehicleRentList</strong>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <label for="Duration">@Resource.Duration</label>
                            <select class="form-control" id="Duration" name="Duration">
                                <option value="month" @(ViewBag.Duration == "month" ? "selected" : "")>This Month</option>
                                <option value="custom" @(ViewBag.Duration == "custom" ? "selected" : "")>Custom</option>
                            </select>
                        </div>

                        <div class="col-sm-2 form-group clsFilterdate @(ViewBag.Duration == "custom" ? "clsShow" : "clsHide")">
                            <div class="">
                                <label for="StartDate">@Resource.StartDate</label><span class="required">*</span>
                                <input class="form-control default-date-picker" id="StartDate" name="StartDate" value="@ViewBag.StartDate" placeholder="DD/MM/YYYY" readonly="readonly" type="text">
                            </div>
                            <span id="spn_StartDate" class="formerror">@Resource.Required</span>
                        </div>
                        <div class="col-sm-2 form-group clsFilterdate @(ViewBag.Duration == "custom" ? "clsShow" : "clsHide")">
                            <div class="">
                                <label for="EndDate">@Resource.EndDate</label><span class="required">*</span>
                                <input class="form-control default-date-picker" id="EndDate" name="EndDate" value="@ViewBag.EndDate" placeholder="DD/MM/YYYY" readonly="readonly" type="text">
                            </div>
                            <span id="spn_EndDate" class="formerror">@Resource.Required</span>
                        </div>

                        <div class="col-sm-2 form-group">
                            <div class="">
                                <label for="dllSite">@Resource.VehicleOwnerName</label><span class="required">*</span>
                                <select class="form-control" id="ddlVehicleOwner">
                                    <option value="">-All Vehicle Owner-</option>
                                    @if (lstVehicleOwners != null && lstVehicleOwners.Count > 0)
                                    {
                                        foreach (SelectListItem owner in lstVehicleOwners)
                                        {
                                            <option value="@owner.Value" @(ViewBag.VehicleOwner == owner.Value ? "selected" : "")>@owner.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <span id="spn_SiteId" class="formerror">@Resource.Required</span>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label></label>
                            <button id="btnSearchReport" type="button" class="btn btn-success" style="margin-top:25px; float:left;"><i class="fa fa-search"></i> @Resource.Search</button>
                        </div>

                    </div>
                </div>

            </section>

            <section class="panel">

                <div class="panel-body">
                    <div class="row state-overview">
                        <div class="col-lg-3 col-sm-6">
                            <section class="panel" style="border: 1px solid #ddd;">
                                <div class="symbol terques">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="value">
                                    <h1>@strTotalVehicleRentAmount</h1>
                                    <p>@Resource.Total</p>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="adv-table">
                        <div class="clearfix">

                            <div class="btn-group pull-right">
                                <a class="btn btn-success" href="/admin/vehiclerent/add"><i class="fa fa-plus"></i> @Resource.AddNewVehicleRent</a>
                            </div>

                            @if (clsSession.RoleID != (int)UserRoles.Staff && Model != null && Model.Count > 0)
                            {
                                @*<div class="btn-group pull-right">
                                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                            @Resource.Download <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a id="btnDownloadPdf" href="javascript:void(0);">PDF</a></li>
                                        </ul>
                                    </div>*@
                            }
                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped table-hover" id="tblvehiclerentList">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="10%">@Resource.Date</th>
                                    <th width="10%">@Resource.VehicleOwnerName</th>
                                    <th width="10%">@Resource.FromLocation</th>
                                    <th width="10%">@Resource.ToLocation</th>
                                    <th width="10%">@Resource.Amount</th>
                                    <th width="10%">@Resource.Remarks</th>
                                    <th width="10%">@Resource.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var obj in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@counter.</td>
                                            <td>@obj.dtVehicleRentDate.ToString("dd/MM/yyyy")</td>
                                            <td>@obj.VehicleOwnerName</td>
                                            <td>@obj.FromLocation</td>
                                            <td>@obj.ToLocation</td>
                                            <td>@CoreHelper.GetFormatterAmount(obj.Amount)</td>
                                            <td>@obj.Remarks</td>
                                            <td>
                                                <a href="/admin/vehiclerent/edit/@obj.VehicleRentId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                                <button title="Delete" onclick="fnDeletevehiclerent('@obj.VehicleRentId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deletevehiclerentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                @Resource.SureWantToDelete
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeletevehiclerent" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnDeletevehiclerent" class="btn btn-danger" type="button">@Resource.Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

<script src="~/Areas/Admin/Content/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblvehiclerentList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0]
                }]
        });
    });

    function fnDeletevehiclerent(vehiclerent_id) {
        jQuery("#hdnDeletevehiclerent").val(vehiclerent_id);
        $('#deletevehiclerentModal').modal('show');
    }

    jQuery(document).on("click", "#btnDeletevehiclerent", function () {

        var vehiclerent_id = jQuery("#hdnDeletevehiclerent").val();
        if (vehiclerent_id != "" && vehiclerent_id != null) {
            $('#deletevehiclerentModal').modal('hide');
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteVehicleRent", "VehicleRent")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?Id=" + vehiclerent_id,
                success: function (result) {
                    if (result == "success") {
                        alert("Vehicle Rent Deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Vehicle Rent Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    $.unblockUI();
                }
            });
        }
    });

    function isNullOrUndefinedCustom(str) {
        if (str == "" || str == undefined || str == null)
            return true;
        else
            return false;
    }

    $(document).on("change", "#Duration", function () {
        var seletedType = $(this).val();
        if (seletedType == "custom") {
            $(".clsFilterdate").addClass("clsShow").removeClass("clsHide");
        }
        else {
            $(".clsFilterdate").addClass("clsHide").removeClass("clsShow");
        }
    });

    $(document).on("click", "#btnSearchReport", function () {

        var duration = $("#Duration").val();
        var startDate = $("#StartDate").val();
        var endDate = $("#EndDate").val();
        var ddlVehicleOwner = $("#ddlVehicleOwner").val();

        var flag = true;
        $(".formerror").hide();

        if (duration == "") {
            $("#spn_Duration").show();
            flag = false;
        }

        if (duration == "custom") {
            if (isNullOrUndefinedCustom(startDate)) {
                $("#spn_StartDate").show();
                flag = false;
            }
            if (isNullOrUndefinedCustom(endDate)) {
                $("#spn_EndDate").show();
                flag = false;
            }
        }

        if (flag == true) {
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            reloadFilterUrl(duration, startDate, endDate, ddlVehicleOwner);
        }

    });

    function reloadFilterUrl(duration, startDate, endDate, ddlVehicleOwner) {

        var url = "/admin/vehiclerent?duration=" + duration + "&vehicleOwner=" + ddlVehicleOwner;

        if (duration == "custom") {
            if (!isNullOrUndefinedCustom(startDate))
                url += "&start=" + startDate;

            if (!isNullOrUndefinedCustom(endDate))
                url += "&end=" + endDate;
        }
        window.location.href = url;
    }

</script>