@using ConstructionDiary.Models
@using ConstructionDiary.ResourceFiles;
@model List<MerchantPaymentVM>

@{
    ViewBag.Title = "MerchantPayment";

    int counter = 1;

    List<SelectListItem> lstSites = ViewData["SiteList"] as List<SelectListItem>;

    decimal? TotalPaymentAmount = Model.Select(x => x.Amount).Sum(); 
}

<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">

            @if (clsSession.RoleID != (int)UserRoles.Staff)
            {
                <section class="panel">
                    <header class="panel-heading">
                        <strong>@Resource.MerchantPaymentList</strong>
                    </header>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-2 form-group">
                                <label for="Duration">@Resource.Duration</label>
                                <select class="form-control" id="Duration" name="Duration">
                                    <option value="month" @(ViewBag.Duration == "month" ? "selected" : "")>This Month</option>
                                    <option value="custom" @(ViewBag.Duration == "custom" ? "selected" : "")>Custom</option>
                                </select>
                            </div>

                            <div class="col-sm-2 form-group  clsFilterdate @(ViewBag.Duration == "custom" ? "clsShow" : "clsHide")">
                                <div class="">
                                    <label for="StartDate">@Resource.StartDate</label><span class="required">*</span>
                                    <input class="form-control default-date-picker" id="StartDate" name="StartDate" value="@ViewBag.StartDate" placeholder="DD/MM/YYYY" readonly="readonly" type="text">
                                </div>
                                <span id="spn_StartDate" class="formerror">@Resource.Required</span>
                            </div>
                            <div class="col-sm-2 form-group clsFilterdate @(ViewBag.Duration == "custom" ? "clsShow" : "clsHide")">
                                <div class="">
                                    <label for="EndDate">@Resource.EndDate</label><span class="required">*</span>
                                    <input class="form-control default-date-picker" id="EndDate" name="EndDate" value="@ViewBag.EndDate" placeholder="DD/MM/YYYY" readonly="readonly" type="text">
                                </div>
                                <span id="spn_EndDate" class="formerror">@Resource.Required</span>
                            </div>
                            <div class="col-sm-2 form-group clsSite">
                                <div class="">
                                    <label for="dllSite">@Resource.SiteName</label><span class="required">*</span>
                                    <select class="form-control" id="ddlSite">
                                        <option value="">-All Sites-</option>
                                        @if (lstSites != null && lstSites.Count > 0)
                                        {
                                            foreach (SelectListItem site in lstSites)
                                            {
                                                <option value="@site.Value" @(ViewBag.Site == site.Value ? "selected" : "")>@site.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <span id="spn_SiteId" class="formerror">@Resource.Required</span>
                            </div>
                            <div class="col-sm-2 form-group">
                                <label></label>
                                <button id="btnSearchReport" type="button" class="btn btn-success" style="margin-top:25px; float:left;"><i class="fa fa-search"></i> @Resource.Search</button>
                            </div>

                        </div>
                    </div>

                </section>
            }

            <section class="panel">

                <div class="panel-body">

                    <div class="row state-overview">
                        <div class="col-lg-3 col-sm-6">
                            <section class="panel" style="border: 1px solid #ddd;">
                                <div class="symbol terques">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="value">
                                    <h1>@TotalPaymentAmount</h1>
                                    <p>@Resource.Total</p>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="adv-table">
                        <div class="clearfix">

                            <div class="btn-group pull-left">
                                <a class="btn btn-success" href="/admin/merchantpayment/add"><i class="fa fa-plus"></i> @Resource.AddNewMerchantPayment</a>
                            </div>

                            @if (clsSession.RoleID != (int)UserRoles.Staff && Model != null && Model.Count > 0)
                            {
                                <div class="btn-group pull-right">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        @Resource.Download <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a id="btnDownloadPdf" href="javascript:void(0);">PDF</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped table-hover" id="tblMerchantPaymentList">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="10%">@Resource.PaymentDate</th>
                                    <th width="10%">@Resource.MerchantName</th>
                                    <th width="13%">@Resource.SiteName</th>
                                    <th width="13%">@Resource.Amount</th>
                                    <th width="13%">@Resource.PaymentType</th>
                                    <th width="10%">@Resource.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var obj in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@counter.</td>
                                            <td>@Convert.ToDateTime(obj.dtPaymentDate).ToString("dd/MM/yyyy")</td>
                                            <td>@obj.MerchantName</td>
                                            <td>@obj.SiteName</td>
                                            <td>@obj.Amount</td>
                                            <td>@obj.PaymentType</td>
                                            <td>
                                                <a href="/admin/merchantpayment/edit/@obj.MerchantPaymentId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                                <button title="Delete" onclick="fnDeleteMerchantPayment('@obj.MerchantPaymentId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteMerchantPaymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                @Resource.SureWantToDelete
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteMerchantPayment" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnDeleteMerchantPayment" class="btn btn-danger" type="button">@Resource.Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

<script src="~/Areas/Admin/Content/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblMerchantPaymentList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,1,4]
                }]
        });
    });

    function fnDeleteMerchantPayment(MerchantPayment_id) {
        jQuery("#hdnDeleteMerchantPayment").val(MerchantPayment_id);
        $('#deleteMerchantPaymentModal').modal('show');
    }

    jQuery(document).on("click", "#btnDeleteMerchantPayment", function () {

        var MerchantPayment_id = jQuery("#hdnDeleteMerchantPayment").val();
        if (MerchantPayment_id != "" && MerchantPayment_id != null) {
            $('#deleteMerchantPaymentModal').modal('hide');
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteMerchantPayment", "MerchantPayment")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?MerchantPaymentId=" + MerchantPayment_id,
                success: function (result) {
                    if (result == "success") {
                        alert("Merchant Payment Deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Merchant Payment Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    $.unblockUI();
                }
            });
        }
    });

    function isNullOrUndefinedCustom(str) {
        if (str == "" || str == undefined || str == null)
            return true;
        else
            return false;
    }

    $(document).on("change", "#Duration", function () {
        var seletedType = $(this).val();

        if (seletedType == "custom") {
            $(".clsFilterdate").addClass("clsShow").removeClass("clsHide");
        }
        else {
            $(".clsFilterdate").addClass("clsHide").removeClass("clsShow");
        }

    });

    $(document).on("click", "#btnSearchReport", function () {

        var duration = $("#Duration").val();
        var startDate = $("#StartDate").val();
        var endDate = $("#EndDate").val();

        var ddlSite = $("#ddlSite").val();

        var flag = true;
        $(".formerror").hide();

        if (duration == "") {
            $("#spn_Duration").show();
            flag = false;
        }

        if (duration == "custom") {
            if (isNullOrUndefinedCustom(startDate)) {
                $("#spn_StartDate").show();
                flag = false;
            }
            if (isNullOrUndefinedCustom(endDate)) {
                $("#spn_EndDate").show();
                flag = false;
            }
        }

        if (flag == true) {
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            reloadFilterUrl(duration, startDate, endDate, ddlSite);
        }

    });

    function reloadFilterUrl(duration, startDate, endDate, site) {

        var url = "/admin/merchantpayment?duration=" + duration + "&site=" + site;

        if (duration == "custom") {
            if (!isNullOrUndefinedCustom(startDate))
                url += "&start=" + startDate;

            if (!isNullOrUndefinedCustom(endDate))
                url += "&end=" + endDate;
        }
        window.location.href = url;
    }

    jQuery(document).on("click", "#btnDownloadPdf", function () {

        StartLoading();
        setTimeout(function(){ StopLoading() }, 3000);

        var start = '@ViewBag.reportStartDate';
        var end  = '@ViewBag.reportEndDate';
        var site = '@ViewBag.Site';
        window.location.href = "/admin/MerchantPayment/ExportPDFOfMerchantPayment?start=" + start + "&end=" + end + "&site=" + site;
    });

</script>