@using ConstructionDiary.ResourceFiles;
@model BillDebitNewVM
@{
    ViewBag.Title = "Person";
}

    <section class="wrapper site-min-height">

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="panel panel-primary" style="opacity: 1;">
                    <div class="panel-heading text-center" style="background-color:#3c8bb9; border-color: #3c8bb9;">
                        <strong> @ViewBag.PersonName </strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <strong>Edit Bill</strong>

                        <a href="/admin/person/newbill/@Model.PersonId" class="btn btn-warning" style="float: right; top: -5px; position: relative;">
                            <i class="fa fa-backward"></i> Back
                        </a>

                    </header>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="form">
                                @using (Html.BeginForm("EditBillByFile", "Person", FormMethod.Post, new { @id = "BillFormId", @class = "", enctype = "multipart/form-data", role = "form" }))
                                {

                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            @Html.LabelFor(model => model.BillDate, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.BillDate, new { htmlAttributes = new { @class = "form-control default-date-picker valid", @placeholder = "DD/MM/YYYY", maxlength = "50", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.BillDate, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-sm-4 form-group">
                                            @Html.LabelFor(model => model.BillNo, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.BillNo, new { htmlAttributes = new { @class = "form-control", @placeholder = Resource.BillNo, maxlength = "50", @autocomplete = "off" } })

                                        </div>

                                        <div class="col-sm-4 form-group">
                                            @Html.LabelFor(model => model.SiteId, htmlAttributes: new { @class = "" })
                                            @Html.DropDownList("SiteId", new SelectList(Model.SiteList, "Value", "Text"), "-" + Resource.SiteName + "-", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.SiteId, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-sm-4 form-group">
                                            @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = Resource.Amount } })
                                            @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-sm-4 form-group">
                                            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @placeholder = Resource.Remarks, maxlength = "200" } })
                                        </div>

                                        <div class="col-sm-4 form-group">
                                            @Html.LabelFor(model => model.BillFile, htmlAttributes: new { @class = "" })
                                            @Html.TextBoxFor(model => model.BillFile, new { type = "file", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.BillFile, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 ">
                                            @Html.HiddenFor(x => x.BillId)
                                            @Html.HiddenFor(x => x.PersonId)
                                            <button id="btnSubmit" class="btn btn-info" type="submit">@Resource.Save</button>
                                            <a href="/admin/person/newbill/@Model.PersonId" class="btn btn-default">@Resource.Cancel</a>
                                        </div>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

<script src="~/Areas/Admin/Content/js/jquery.js"></script>
<script>
     
    jQuery(document).ready(function () {
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);
    });
     
    jQuery("#btnSubmit").click(function (event) {
        if (jQuery("form").valid()) {
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        }
    });
     
</script>