@using ConstructionDiary.ResourceFiles;
@model List<BillDebitNewVM>
@{
    ViewBag.Title = "Person";

    decimal? TotalDebitBillAmount = Model.Select(x => x.TotalAmount).Sum();
    string strTotalDebitBillAmount = CoreHelper.GetFormatterAmount(Convert.ToDecimal(TotalDebitBillAmount));

    int counter = 1;
}

<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>@Resource.BillList - <strong>@ViewBag.PersonName</strong> </strong>

                    <a href="/admin/person" class="btn btn-warning" style="float: right; top: -5px; position: relative;">
                        <i class="fa fa-backward"></i> Back
                    </a>

                </header>
                <div class="panel-body">

                    <div class="row state-overview">
                        <div class="col-lg-3 col-sm-6">
                            <section class="panel" style="border: 1px solid #ddd;">
                                <div class="symbol terques">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="value">
                                    <h1>@strTotalDebitBillAmount</h1>
                                    <p>@Resource.Total</p>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="adv-table">
                        <div class="clearfix">
                            @*<div class="btn-group pull-right">
                                    <button id="btnAddBill" class="btn green">
                                        <i class="fa fa-plus"></i> @Resource.AddNewBill
                                    </button>
                                </div>*@

                            <div class="btn-group pull-right">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-plus"></i> @Resource.AddNewBill <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="/admin/person/addbillbyfile/@ViewBag.PersonId">@Resource.File</a></li>
                                    <li><a href="/admin/person/addbillbyarea/@ViewBag.PersonId">@Resource.Area</a></li>
                                </ul>
                            </div>

                            @*<div class="btn-group pull-right">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        Tools <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#">Print</a></li>
                                        <li><a href="#">Save as PDF</a></li>
                                        <li><a href="#">Export to Excel</a></li>
                                    </ul>
                                </div>*@
                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped table-hover" id="tblBillList">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="10%">@Resource.BillDate</th>
                                    <th width="10%;">@Resource.BillNo</th>
                                    <th>@Resource.SiteName</th>
                                    <th width="10%;">@Resource.BillType</th>
                                    <th width="13%;">@Resource.Total</th>
                                    <th width="13%;">@Resource.Remarks</th>
                                    <th width="10%">@Resource.File</th>
                                    <th width="10%;">@Resource.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var obj in Model)
                                    {
                                <tr class="gradeX">
                                    <td>@counter.</td>
                                    <td>@Convert.ToDateTime(obj.dBillDate).ToString("dd/MM/yyyy")</td>
                                    <td>@obj.BillNo</td>
                                    <td>@obj.SiteName</td>
                                    <td>@obj.BillType</td>
                                    <td><span style="float:right;">@CoreHelper.GetFormatterAmount(obj.TotalAmount)</span></td>
                                    <td>@obj.Remarks</td>
                                    <td>
                                        @if (obj.ObjFile != null)
                                        {
                                            string fileUrl1 = Server.MapPath("~/DataFiles/DebitBillFile/" + obj.ObjFile.EncryptFileName);

                                            string fileUrl = Request.Url.OriginalString.Replace(Request.Url.PathAndQuery, "") + Request.ApplicationPath;
                                            fileUrl += "/DataFiles/DebitBillFile/" + obj.ObjFile.EncryptFileName;

                                            if (File.Exists(fileUrl1))
                                            {
                                                @*<button onclick="fnOpenFile('@fileUrl')" class="btn btn-info btn-xs">@Resource.File</button>*@
                                                <a download href="@fileUrl" class="btn btn-primary btn-xs">Download</a>

                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (obj.BillType == "File")
                                        {
                                            @*<button title="Edit" data-id="@obj.BillId" class="btn btn-primary btn-xs clsEditBill"><i class="fa fa-pencil"></i></button>*@
                                            <a href="/admin/person/editbillbyfile/@obj.BillId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                        }
                                        else
                                        {
                                            <a href="/admin/person/editbillbyarea/@obj.BillId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                        }

                                        @*<button title="Edit" data-id="@obj.BillId" class="btn btn-primary btn-xs clsEditBill"><i class="fa fa-pencil"></i></button>*@
                                        <button title="Delete" onclick="fnDeleteBill('@obj.BillId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteBillModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                @Resource.SureWantToDelete
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteBill" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnDeleteBill" class="btn btn-danger" type="button">@Resource.Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

<script src="~/Areas/Admin/Content/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblBillList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,1,7, 8]
                }]
        });
    });

    jQuery(document).on("click", "#btnAddBill", function () {
        window.location.href = '/admin/person/addbill/@ViewBag.PersonId';
    });

    function fnDeleteBill(bill_id) {
        jQuery("#hdnDeleteBill").val(bill_id);
        $('#deleteBillModal').modal('show');
    }

    jQuery(document).on("click", "#btnDeleteBill", function () {

        var bill_id = jQuery("#hdnDeleteBill").val();
        if (bill_id != "" && bill_id != null) {
            $('#deleteBillModal').modal('hide');
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteNewBill", "Person")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?BillId=" + bill_id,
                success: function (result) {
                    if (result == "success") {
                        alert("Bill Deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Person Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    jQuery(document).on("click", ".clsEditBill", function () {
        var bill_id = $(this).attr("data-id");
        window.location.href = "/admin/person/editbill/" + bill_id;
    });

    jQuery(window).on("load", function () {
        jQuery.unblockUI();
    });

</script>