@using ConstructionDiary.Models;
@using ConstructionDiary.ResourceFiles;
@model List<BillItemVM>
@{
    ViewBag.Title = "BillItem";
}

@{
    int counter = 0;
}

<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>@Resource.BillItemList</strong>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div class="clearfix">
                            <div class="btn-group pull-right">
                                <a class="btn btn-success" href="billitem/add"><i class="fa fa-plus"></i> @Resource.AddNewBillItem</a>
                            </div>
                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped table-hover" id="tblBillItemList">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th>@Resource.ItemName</th>
                                    <th>@Resource.ItemType</th>
                                    <th>@Resource.Remarks</th>
                                    <th width="10%">@Resource.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (BillItemVM bill in Model)
                                    {
                                        counter++;
                                        <tr class="gradeX">
                                            <td>@counter.</td>
                                            <td>@bill.BillItemName</td>
                                            <td>@bill.BillItemType</td>
                                            <td>@bill.Remarks</td>
                                            <td>
                                                <a href="/admin/billitem/edit/@bill.BillItemId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>                                                
                                                <button onclick="fnDeleteBillItem('@bill.BillItemId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteBillItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                @Resource.SureWantToDelete
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteBillItem" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnDeleteBillItem" class="btn btn-danger" type="button"> @Resource.Delete </button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

<script src="~/Areas/Admin/Content/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblBillItemList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,4]
                }]
        });
    });

    jQuery(document).on("click", "#btnDeleteBillItem", function () {

        var billitem_id = jQuery("#hdnDeleteBillItem").val();
        if (billitem_id != "" && billitem_id != null) {
            $('#deleteBillItemModal').modal('hide');
            $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteBillItem", "BillItem")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?BillItemId=" + billitem_id,
                success: function (result) {
                    if (result == "success") {
                        alert("BillItem deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("BillItem Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    function fnDeleteBillItem(client_id) {
        jQuery("#hdnDeleteBillItem").val(client_id);
        $('#deleteBillItemModal').modal('show');
    }

    jQuery(window).on("load", function () {
        jQuery.unblockUI();
    });


</script>