@using ConstructionDiary.ResourceFiles;
@model List<MerchantVM>
@{
    ViewBag.Title = "Merchant";
}

@{
    int counter = 1;
}

<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>@Resource.MerchantsList</strong>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div class="clearfix">
                            <div class="btn-group pull-right">
                                <a class="btn btn-success" href="/admin/merchant/add"><i class="fa fa-plus"></i> @Resource.AddNewMerchant</a>
                            </div>
                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped table-hover" id="tblMerchantList">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th>@Resource.MerchantName</th>
                                    <th>@Resource.FirmName</th>
                                    <th>@Resource.MobileNo</th> 
                                    <th width="10%">@Resource.Active</th>
                                    <th width="10%">@Resource.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (MerchantVM merchant in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@counter</td>
                                            <td>@merchant.MerchantName</td>
                                            <td>@merchant.FirmName</td>
                                            <td>@merchant.MobileNo</td> 
                                            <td>
                                                @if (merchant.IsActive)
                                                {
                                                    <span class="badge bg-success">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-warning">InActive</span>
                                                }
                                            </td>
                                            <td>
                                                <a href="/admin/merchant/edit/@merchant.MerchantId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                                <button onclick="fnDeleteMerchant('@merchant.MerchantId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteMerchantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                @Resource.SureWantToDelete
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteMerchant" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnDeleteMerchant" class="btn btn-danger" type="button"> @Resource.Delete </button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

<script src="~/Areas/Admin/Content/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblMerchantList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,4]
                }]
        });
    });

    jQuery(document).on("click", "#btnDeleteMerchant", function () {

        var merchant_id = jQuery("#hdnDeleteMerchant").val();
        if (merchant_id != "" && merchant_id != null) {
            $('#deleteMerchantModal').modal('hide');
            $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteMerchant", "Merchant")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?MerchantId=" + merchant_id,
                success: function (result) {
                    if (result == "success") {
                        alert("Merchant deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Merchant Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    function fnDeleteMerchant(merchant_id) {
        jQuery("#hdnDeleteMerchant").val(merchant_id);
        $('#deleteMerchantModal').modal('show');
    }

    jQuery(window).on("load", function () {
        jQuery.unblockUI();
    });

</script>