@using ConstructionDiary.ResourceFiles;
@model List<ExpenseVM>
@{
    ViewBag.Title = "Expense";
}

@{
    decimal? TotalExpenseAmount = Model.Select(x => x.Amount).Sum();
    string strTotalExpenseAmount = CoreHelper.GetFormatterAmount(Convert.ToDecimal(TotalExpenseAmount));

    int counter = 1;
}


<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">

            <section class="panel">
                <header class="panel-heading">
                    <strong>@Resource.ExpenseList</strong>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label for="Duration">@Resource.Duration</label>
                            <select class="form-control" id="Duration" name="Duration">
                                <option value="month" @(ViewBag.Duration == "month" ? "selected" : "")>This Month</option>
                                <option value="custom" @(ViewBag.Duration == "custom" ? "selected" : "")>Custom</option>
                            </select>
                        </div>

                        <div class="col-sm-3 form-group  clsFilterdate @(ViewBag.Duration == "custom" ? "clsShow" : "clsHide")">
                            <div class="">
                                <label for="StartDate">@Resource.StartDate</label><span class="required">*</span>
                                <input class="form-control default-date-picker" id="StartDate" name="StartDate" value="@ViewBag.StartDate" placeholder="DD/MM/YYYY" readonly="readonly" type="text">
                            </div>
                            <span id="spn_StartDate" class="formerror">@Resource.Required</span>
                        </div>
                        <div class="col-sm-3 form-group clsFilterdate @(ViewBag.Duration == "custom" ? "clsShow" : "clsHide")">
                            <div class="">
                                <label for="EndDate">@Resource.EndDate</label><span class="required">*</span>
                                <input class="form-control default-date-picker" id="EndDate" name="EndDate" value="@ViewBag.EndDate" placeholder="DD/MM/YYYY" readonly="readonly" type="text">
                            </div>
                            <span id="spn_EndDate" class="formerror">@Resource.Required</span>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label></label>
                            <button id="btnSearchReport" type="button" class="btn btn-success" style="margin-top:25px; float:left;"><i class="fa fa-search"></i> @Resource.Search</button>
                        </div>

                    </div>

                </div>

            </section>

            <section class="panel">

                <div class="panel-body">

                    <div class="row state-overview">
                        <div class="col-lg-3 col-sm-6">
                            <section class="panel" style="border: 1px solid #ddd;">
                                <div class="symbol terques">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="value">
                                    <h1>@strTotalExpenseAmount</h1>
                                    <p>@Resource.Total</p>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="adv-table">
                        <div class="clearfix">
                            <div class="btn-group pull-left">
                                <a class="btn btn-success" href="/admin/expense/add"><i class="fa fa-plus"></i> @Resource.AddNewExpense</a>
                            </div>
                            <div class="btn-group pull-right">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    @Resource.Download <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a id="btnDownloadPdf" href="javascript:void(0);">PDF</a></li>
                                    @*<li><a id="btnDownloadExcel" href="javascript:void(0);">Excel</a></li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped table-hover" id="tblExpenseList">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="10%">@Resource.Date</th>
                                    <th width="10%">@Resource.Amount</th>
                                    <th width="10%">@Resource.ExpenseType</th>
                                    <th>@Resource.SiteName</th>
                                    <th>@Resource.Description</th>
                                    <th width="10%">@Resource.File</th>
                                    <th width="15%">@Resource.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (ExpenseVM expense in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@counter.</td>
                                            <td>@Convert.ToDateTime(expense.dtExpenseDate).ToString("dd/MM/yyyy")</td>
                                            <td>@CoreHelper.GetFormatterAmount(expense.Amount)</td>
                                            <td>@expense.ExpenseType</td>
                                            <td>@expense.SiteName</td>
                                            <td>@expense.Description</td>
                                            <td>
                                                @if (expense.ObjExpenseFile != null)
                                                {
                                                    string fileUrl1 = Server.MapPath("~/DataFiles/ExpenseFile/" + expense.ObjExpenseFile.EncryptFileName);

                                                    string fileUrl = Request.Url.OriginalString.Replace(Request.Url.PathAndQuery, "") + Request.ApplicationPath;
                                                    fileUrl += "/DataFiles/ExpenseFile/" + expense.ObjExpenseFile.EncryptFileName;

                                                    if (File.Exists(fileUrl1))
                                                    {
                                                        <button onclick="fnOpenExpenseFile('@fileUrl')" class="btn btn-info btn-xs">@Resource.File</button>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <a href="/admin/expense/edit/@expense.ExpenseId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                                <button onclick="fnDeleteExpense('@expense.ExpenseId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteExpenseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                @Resource.SureWantToDelete
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteExpense" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnDeleteExpense" class="btn btn-danger" type="button"> @Resource.Delete </button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->
<!-- View File Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Expense File</h4>
            </div>
            <div class="modal-body">

                <embed id="embFilePath" src="#" frameborder="0" width="100%" height="600px">

                <div class="modal-footer" style="padding: 10px;">
                    <a id="btnDownload" href="#" class="btn btn-default" download="">Download</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Areas/Admin/Content/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblExpenseList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,5,6]
                }]
        });
    });

    jQuery(document).on("click", "#btnDeleteExpense", function () {

        var Expense_id = jQuery("#hdnDeleteExpense").val();
        if (Expense_id != "" && Expense_id != null) {
            $('#deleteExpenseModal').modal('hide');
            $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteExpense", "Expense")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?ExpenseId=" + Expense_id,
                success: function (result) {
                    if (result == "success") {
                        alert("Expense deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Expense Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    function fnDeleteExpense(Expense_id) {
        jQuery("#hdnDeleteExpense").val(Expense_id);
        $('#deleteExpenseModal').modal('show');
    }

    jQuery(window).on("load", function () {
        jQuery.unblockUI();
    });

    jQuery(document).on("click", "#btnDownloadPdf", function () {

        StartLoading();
        setTimeout(function(){ StopLoading() }, 3000);

        //var expensetype = "";
        //var duration = "";
        var start = '@ViewBag.reportStartDate';
        var end  = '@ViewBag.reportEndDate';

        window.location.href = "/admin/expense/ExportPDFOfExpense?start=" + start+ "&end=" + end;
    });

    $(document).on("click", "#btnSearchReport", function () {

        var duration = $("#Duration").val();
        var startDate = $("#StartDate").val();
        var endDate = $("#EndDate").val();

        var flag = true;
        $(".formerror").hide();

        if (duration == "") {
            $("#spn_Duration").show();
            flag = false;
        }

        if (duration == "custom") {
            if (isNullOrUndefinedCustom(startDate)) {
                $("#spn_StartDate").show();
                flag = false;
            }
            if (isNullOrUndefinedCustom(endDate)) {
                $("#spn_EndDate").show();
                flag = false;
            }
        }

        if (flag == true) {
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            reloadFilterUrl(duration, startDate, endDate);
        }

    });

    function reloadFilterUrl(duration, startDate, endDate) {

        var url = "/admin/expense?duration=" + duration;

        if (duration == "custom") {
            if (!isNullOrUndefinedCustom(startDate))
                url += "&start=" + startDate;

            if (!isNullOrUndefinedCustom(endDate))
                url += "&end=" + endDate;
        }
        window.location.href = url;
    }

    function isNullOrUndefinedCustom(str) {
        if (str == "" || str == undefined || str == null)
            return true;
        else
            return false;
    }

    $(document).on("change", "#Duration", function () {
        var seletedType = $(this).val();

        if (seletedType == "custom") {
            $(".clsFilterdate").addClass("clsShow").removeClass("clsHide");
        }
        else {
            $(".clsFilterdate").addClass("clsHide").removeClass("clsShow");
        }

    });

    function fnOpenExpenseFile(fileUrl)
    {
        $("#embFilePath").attr("src", fileUrl);
        $("#btnDownload").attr("href", fileUrl);
        $("#myModal").modal("show");
    }

</script>