@using ConstructionDiary.ResourceFiles;
@using ConstructionDiary.Models;
@model ConstructionDiary.Models.tbl_Sites
@{
    ViewBag.Title = "Site";
}

@{
    List<ConstructionDiary.Models.SP_GetSiteDetailById_Result> lstFinance = ViewData["SiteFinanceList"] as List<ConstructionDiary.Models.SP_GetSiteDetailById_Result>;

    //decimal? TotalDebitAmount = lstFinance.Where(x => x.CreditOrDebit == "Debit").Select(x => x.Amount).Sum();
    //string strTotalDebitAmount = CoreHelper.GetFormatterAmount(Convert.ToDecimal(TotalDebitAmount));

    decimal? TotalCreditAmount = lstFinance.Where(x => x.CreditOrDebit == "Credit").Select(x => x.Amount).Sum();
    string strTotalCreditAmount = CoreHelper.GetFormatterAmount(Convert.ToDecimal(TotalCreditAmount));

    ConstructionDiaryEntities _db = new ConstructionDiaryEntities();

    decimal TotalSiteBillAmount = _db.tbl_BillSite.Where(x => x.SiteId == Model.SiteId).ToList().Select(x => x.TotalAmount).Sum();
    string strTotalSiteBillAmount = CoreHelper.GetFormatterAmount(Convert.ToDecimal(TotalSiteBillAmount));

    decimal? RemainingAmount = TotalSiteBillAmount - TotalCreditAmount;
    string strRemainingAmount = CoreHelper.GetFormatterAmount(Convert.ToDecimal(RemainingAmount));

}

<section class="wrapper site-min-height">

    <!--state overview start-->

    <div class="row state-overview">

        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-primary" style="opacity: 1;">
                <div class="panel-heading text-center" style="background-color:#3c8bb9; border-color: #3c8bb9;">
                    <strong> @Model.SiteName </strong> 
                </div>
            </div>
        </div>
          
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <div class="symbol blue">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="value" style="padding-top: 0px;">
                    <h2>@strTotalSiteBillAmount</h2>
                    <p class="total totaldebit">@Resource.Total @Resource.Bill</p>
                </div>
            </section>
        </div>

        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <div class="symbol yellow">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="value" style="padding-top: 0px;">
                    <h2>@strTotalCreditAmount</h2>
                    <p class="total totalcredit">@Resource.TotalTakenAmount</p>
                </div>
            </section>
        </div>

        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <div class="symbol red">
                    <i class="fa fa-money"></i>
                </div>
                <div class="value" style="padding-top: 0px;">
                    <h2>@strRemainingAmount</h2>
                    <p class="total totalremaining">@Resource.TotalRemainingAmount</p>
                </div>
            </section>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Finance List - @Model.SiteName</strong>

                    <a href="/admin/site" class="btn btn-warning" style="float: right; top: -5px; position: relative;">
                        <i class="fa fa-backward"></i> Back
                    </a>

                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div class="clearfix">
                            <div class="btn-group pull-left">
                                <a class="btn btn-default" href="/admin/myaccount/add?id=@Model.SiteId" style="color:#000000;"><i class="fa fa-plus"></i> @Resource.AddNewCredit</a>
                            </div>
                            <div class="btn-group pull-right">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    @Resource.Download <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a id="btnDownloadPdf" href="javascript:void(0);">PDF</a></li>
                                    <li><a id="btnDownloadExcel" href="javascript:void(0);">Excel</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped table-hover" id="tblFinanceList">
                            <thead>
                                <tr>
                                    <th style="width:10%;">@Resource.Date</th>
                                    <th style="width:10%;">@Resource.Amount</th>
                                    <th style="width:10%;">@Resource.Type</th>
                                    <th style="width:15%;">@Resource.PaymentType</th>
                                    <th>@Resource.BankName</th>
                                    <th style="width:20%;">@Resource.GivenTakenBy</th>
                                    <th style="width:8%;">@Resource.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (lstFinance != null && lstFinance.Count() > 0)
                                {
                                    foreach (var obj in lstFinance)
                                    {
                                        <tr class="gradeX">
                                            <td>@Convert.ToDateTime(obj.SelectedDate).ToString("dd/MM/yyyy")</td>
                                            <td><span style="float:right;">@CoreHelper.GetFormatterAmount(obj.Amount)</span></td>
                                            <td>
                                                <span class="badge @(obj.CreditOrDebit == "Credit" ? "bg-success" : "bg-important")">@obj.CreditOrDebit</span>
                                            </td>
                                            <td>@obj.PaymentType</td>
                                            <td>@obj.ChequeNo @obj.BankName</td>
                                            <td>@obj.UserName</td>
                                            <td>
                                                @*<button data-id="@obj.ContractorFinanceId" class="btn btn-success btn-xs clsViewFinance"><i class="fa fa-eye"></i></button>*@
                                                <a href="/admin/myaccount/edit/@obj.ContractorFinanceId?site=@Model.SiteId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                                <button onclick="fnDeleteFinance('@obj.ContractorFinanceId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteFinanceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                @Resource.SureWantToDelete
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnFinanceId" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnDeleteFinance" class="btn btn-danger" type="button">@Resource.Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

<script src="~/Areas/Admin/Content/js/jquery.js"></script>
<script>

    jQuery(document).ready(function () {
        jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblFinanceList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0, 6]
                }]
        });
    });

    jQuery(window).on("load", function () {
        jQuery.unblockUI();
    });

    jQuery(document).on("click", "#btnSavePDF", function () {
        var SiteId = '@ViewBag.SiteID';
        var DownloadUrl = "/sites/DownloadSitePDF?SiteId=" + SiteId;
        window.location.href = DownloadUrl;
    });

    function fnDeleteFinance(financeid) {
        jQuery("#hdnFinanceId").val(financeid);
        $('#deleteFinanceModal').modal('show');
        }

    jQuery(document).on("click", "#btnDeleteFinance", function () {

        var financeid = jQuery("#hdnFinanceId").val();
        if (financeid != "" && financeid != null) {
            jQuery('#deletePersonModal').modal('hide');
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteContractorFinance", "MyAccount")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?FinanceId=" + financeid,
                success: function (result) {
                    if (result == "success") {
                        alert("Credit Entry Deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Credit Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    jQuery(document).on("click", "#btnDownloadPdf", function () {
        var SiteId = '@Model.SiteId';
        window.location.href = "/admin/Site/ExportPDFOfSelectedSite/" + SiteId;
    });

    jQuery(document).on("click", "#btnDownloadExcel", function () {
        var SiteId = '@Model.SiteId';
        window.location.href = "/admin/Site/ExportExcelOfSelectedSite/" + SiteId;
    });

</script>