@using ConstructionDiary.ResourceFiles;
@using ConstructionDiary.Models;

@model List<SiteDetailVM>
@{
    ViewBag.Title = "Site";
    int counter = 1;
}

<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>@Resource.SiteList</strong>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div class="clearfix">
                            <div class="btn-group pull-right">
                                <button id="btnAddSite" class="btn green">
                                    <i class="fa fa-plus"></i> @Resource.AddNewSite
                                </button>
                            </div>
                            @*<div class="btn-group pull-right">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        Tools <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#">Print</a></li>
                                        <li><a href="#">Save as PDF</a></li>
                                        <li><a href="#">Export to Excel</a></li>
                                    </ul>
                                </div>*@
                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped table-hover" id="tblSitesList">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th>@Resource.SiteName</th>
                                    <th style="display:none;">@Resource.Description</th>
                                    <th width="8%;">@Resource.Bill</th>
                                    <th>@Resource.Total @Resource.Bill @Resource.Amount</th>
                                    <th>@Resource.TotalCredit</th>
                                    <th>@Resource.TotalRemainingAmount</th>
                                    <th>@Resource.Finance</th>
                                    <th width="10%">@Resource.Active</th>
                                    <th>@Resource.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var obj in Model)
                                    {

                                        obj.TotalBillAmount = obj.TotalBillAmount ?? 0;
                                        obj.TotalCreditAmount = obj.TotalCreditAmount ?? 0;
                                        obj.TotalRemainingAmount = (obj.TotalBillAmount ?? 0) - (obj.TotalCreditAmount ?? 0);

                                <tr class="gradeX">
                                    <td>@counter.</td>
                                    <td>@obj.SiteName</td>
                                    <td style="display:none;">@obj.SiteDescription</td>
                                    <td>
                                        @*<a href="/admin/site/bill/@obj.SiteId" class="btn btn-primary">@Resource.Old @Resource.Bill</a>*@
                                        <a href="/admin/site/newbill/@obj.SiteId" class="btn btn-primary">@Resource.Bill</a>
                                    </td>

                                    <td><span style="float: right; padding-right:10px;">@CoreHelper.GetFormatterAmount(obj.TotalBillAmount)</span></td>
                                    <td><span style="float: right; padding-right:10px;">@CoreHelper.GetFormatterAmount(obj.TotalCreditAmount)</span></td>

                                    <td><span style="float: right; padding-right:10px;">@CoreHelper.GetFormatterAmount(obj.TotalRemainingAmount)</span></td>
                                    <td><button onclick="fnFinanceSite('@obj.SiteId')" type="button" class="btn btn-primary">@Resource.Finance</button></td>
                                    <td>
                                        @if (obj.IsActive == true)
                                        {
                                            <a onclick="fnInActiveSite('@obj.SiteId', false)" href="javascript:void(0);"><span class="badge bg-success">Active</span></a>
                                        }
                                        else
                                        {
                                            <a onclick="fnInActiveSite('@obj.SiteId', true)" href="javascript:void(0);"><span class="badge bg-warning">InActive</span></a>
                                        }
                                    </td>
                                    <td>
                                        <a href="/admin/site/view/@obj.SiteId" class="btn btn-success btn-xs"><i class="fa fa-check"></i></a>
                                        <button data-id="@obj.SiteId" class="btn btn-primary btn-xs clsEditSite"><i class="fa fa-pencil"></i></button>
                                        <button onclick="fnDeleteSite('@obj.SiteId')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

<!-- Save Modal -->
<div class="modal fade" id="addNewSiteModal" tabindex="-1" role="dialog" aria-labelledby="addNewSiteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.AddNewSite</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel" style="margin-bottom:0px;">
                            <div class="panel-body">
                                <div class=" form">
                                    <form class="cmxform form-horizontal tasi-form" id="siteForm">
                                        <div class="form-group ">
                                            <label for="txtSitename" class="control-label col-lg-3">@Resource.SiteName</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" id="txtSitename" name="txtSitename" minlength="2" type="text" required />
                                                <span id="spn_sitename" class="clserror">@Resource.Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="txtSiteDescription" class="control-label col-lg-3">@Resource.SiteDetail</label>
                                            <div class="col-lg-9">
                                                <textarea class="form-control " id="txtSiteDescription" name="txtSiteDescription" required></textarea>
                                            </div>
                                        </div>
                                        <div id="dvMessage" class="form-group"></div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:0px;">
                <input type="hidden" id="hdnSiteIdToEdit" value="0" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnSaveSite" class="btn btn-success" type="button">@Resource.Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Save modal -->
<!-- Delete Modal -->
<div class="modal fade" id="deleteSiteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                @Resource.SureWantToDelete
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteSite" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnDeleteSite" class="btn btn-danger" type="button"> @Resource.Delete </button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->
<!-- InActive Modal -->
<div class="modal fade" id="inActiveSiteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resource.DeleteConfirm</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to InActive ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnInActiveSite" />
                <input type="hidden" id="hdnInActiveSiteStatus" />
                <button data-dismiss="modal" class="btn btn-default" type="button">@Resource.Close</button>
                <button id="btnInActiveSite" class="btn btn-danger" type="button">InActive</button>
            </div>
        </div>
    </div>
</div>
<!-- Active modal -->

<script src="~/Areas/Admin/Content/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);

        jQuery('#tblSitesList').dataTable({
            "aaSorting": [],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [5,6]
                }]
        });
    });

    jQuery(document).on("click", "#btnSaveSite", function () {
        var flag = true;
        jQuery(".clserror").hide();

        var site_id = jQuery("#hdnSiteIdToEdit").val();
        var site_name = jQuery("#txtSitename").val();
        var site_desc = jQuery("#txtSiteDescription").val();

        if (jQuery.trim(site_name) == "") {
            flag = false;
            jQuery("#spn_sitename").show();

        }

        if (flag) {
            $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("SaveSite", "Site")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?site_id=" + site_id + "&site_name=" + site_name + "&site_desc=" + site_desc,
                success: function (result) {
                    if (result == "created") {
                        showSuccessMsg("Site saved successfully", "dvMessage");
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                    else if (result == "updated") {
                        showSuccessMsg("Site updated successfully", "dvMessage");
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                    else if (result == "alreadyexist") {
                        showErrorMsg("Site Name already exists", "dvMessage");
                    }
                    else {
                        showErrorMsg("Something went wrong. Please try again", "dvMessage");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }

    });

    jQuery(document).on("click", "#btnDeleteSite", function () {

        var site_id = jQuery("#hdnDeleteSite").val();
        if (site_id != "" && site_id != null) {
            $('#deleteSiteModal').modal('hide');
            $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteSite", "Site")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?SiteId=" + site_id,
                success: function (result) {
                    if (result == "success") {
                        alert("Site deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Site Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    jQuery(document).on("click", "#btnAddSite", function () {
        $('#addNewSiteModal h4').text("Add New Site");
        $('#addNewSiteModal #btnSaveSite').text("Save");
        $(".clserror").hide();
        $('#txtSitename').val('');
        $('#txtSiteDescription').val('');
        $('#hdnSiteIdToEdit').val('0');
        $('#addNewSiteModal').modal('show');

    });

    jQuery(document).on("click", ".clsEditSite", function () {
        var site_id = $(this).attr("data-id");
        var site_name = $(this).parent().parent().find("td:eq(1)").text();
        var site_desc = $(this).parent().parent().find("td:eq(2)").text();
        $('#txtSitename').val(site_name);
        $('#txtSiteDescription').val(site_desc);
        $('#addNewSiteModal h4').text("Update Site Details");
        $('#addNewSiteModal #btnSaveSite').text("Update");
        $('#hdnSiteIdToEdit').val(site_id);
        $(".clserror").hide();
        $('#addNewSiteModal').modal('show');
    });

    function fnDeleteSite(site_id) {
        jQuery("#hdnDeleteSite").val(site_id);
        $('#deleteSiteModal').modal('show');
    }

    jQuery(window).on("load", function () {
        jQuery.unblockUI();
    });

    function fnFinanceSite(siteid) {
        window.location.href = "/admin/site/detail/" + siteid;
        }

    function fnInActiveSite(site_id, status) {

        var msgText = "";
        var buttonText = "";
        var buttonClass = "";

        if (status == false) {
            msgText = "Are you want to InActive ?";
            buttonText = "InActive";
            buttonClass = "btn btn-danger";
        }
        else {
            msgText = "Are you want to Active ?";
            buttonText = "Active";
            buttonClass = "btn btn-success";
        }

        jQuery("#inActiveSiteModal .modal-body").text(msgText);
        jQuery("#inActiveSiteModal #btnInActiveSite").text(buttonText);
        jQuery("#inActiveSiteModal #btnInActiveSite").attr("class", buttonClass);

        jQuery("#hdnInActiveSite").val(site_id);
        jQuery("#hdnInActiveSiteStatus").val(status);
        $('#inActiveSiteModal').modal('show');
    }

    jQuery(document).on("click", "#btnInActiveSite", function () {

        var site_id = jQuery("#hdnInActiveSite").val();
        var site_status = jQuery("#hdnInActiveSiteStatus").val();

        if (site_id != "" && site_id != null) {
            $('#inActiveSiteModal').modal('hide');
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("ChangeSiteStatus", "Site")';

            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?SiteId=" + site_id + "&Status=" + site_status,
                success: function (result) {
                    if (result == "success") {
                        alert("Site Status Changed successfully");
                        window.location.reload();
                        // $(this).attr("onclick", "fnInActiveSite('"+ person_id +"', "+ !person_status +")");
                    }
                    else if (result == "notfound") {
                        alert("Site Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }

    });

</script>