@using ConstructionDiary.ResourceFiles;
@model SiteInfoVM
@{
    ViewBag.Title = "Site";
}

<section class="wrapper site-min-height">

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">

                <header class="panel-heading">
                    <strong>@Model.SiteName</strong>

                    <a href="/admin/site" class="btn btn-warning" style="float: right; top: -7px; position: relative;">
                        <i class="fa fa-backward"></i> Back
                    </a>
                </header>

                <div class="panel-body">
                    <div class="adv-table">

                        <table class="display table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>@Resource.Credit</th>
                                    <th>@Resource.Debit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Resource.TotalCreditAmount</td>
                                    <td><a href="/admin/site/detail/@Model.SiteId"> @CoreHelper.GetFormatterAmount(Model.TotalCreditAmount) </a></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>@Resource.TotalDebitAmount</td>
                                    <td></td>
                                    <td><a href="/admin/site/alldebitsitedata/@Model.SiteId">@CoreHelper.GetFormatterAmount(Model.TotalDebitAmount)</a></td>
                                </tr>

                                <tr>
                                    <td>@Resource.TotalMaterialAmount</td>
                                    <td></td>
                                    <td><a href="/admin/site/allmaterialpaymentsitedata/@Model.SiteId">@CoreHelper.GetFormatterAmount(Model.TotalMaterialAmount)</a></td>
                                </tr>

                                <tr>
                                    <td>@Resource.TotalExpenseAmount</td>
                                    <td></td>
                                    <td><a href="/admin/site/allexpensesitedata/@Model.SiteId">@CoreHelper.GetFormatterAmount(Model.TotalExpenseAmount)</a></td>
                                </tr>

                                <tr>
                                    <td>@Resource.TotalAttendanceAmount</td>
                                    <td></td>
                                    <td><a href="/admin/site/allattendancesitedata/@Model.SiteId">@CoreHelper.GetFormatterAmount(Model.TotalPersonAttendanceAmount)</a></td>
                                </tr>
                                 
                                <tr>
                                    <th>Net Total </th>
                                    <th>@CoreHelper.GetFormatterAmount(Model.CalculatedCreditAmount)</th>
                                    <th>@CoreHelper.GetFormatterAmount(Model.CalculatedDebitAmount)</th>
                                </tr>

                                <tr>
                                    <th>Grand Total </th>
                                    <th colspan="2">@CoreHelper.GetFormatterAmount(Model.CalculatedBalanceAmount)</th> 
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

</section>

<script src="~/Areas/Admin/Content/js/jquery.js"></script>
<script>

    jQuery(document).ready(function () {
        jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);
    });

    jQuery(window).on("load", function () {
        jQuery.unblockUI();
    });

</script>
